.wrapper {
  padding-top: 8rem;
}

.filter {
  padding: 2rem 8vw;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter__options {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.filter__options button {
  padding: 0.8rem 5rem;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background: transparent;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -ms-flex-direction: column;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  font-size: 1.8rem;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.filter__options button h4 {
  margin-top: 0.8rem;
  white-space: nowrap;
  font-weight: 600;
}

.filter__options button:hover,
.filter__options button:focus-within,
.filter__options button.active {
  border-bottom: 2px solid #e2413c;
  color: #e2413c;
}

.buddies__grid {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 4rem 0;
}

@media screen and (max-width: 950px) {
  .buddies__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 750px) {
  .buddies__grid {
    grid-template-columns: 1fr;
  }
}
