.wrapper {
  padding-top: 8rem;
}

.filter {
    padding: 2rem 8vw;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter__options {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.filter__options button {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: transparent;
  border: 2px solid #e2413c;
  font-weight: 600;
  color: #e2413c;
  font-size: 1.8rem;
}
