.grid__2 {
  grid-template-columns: 1fr 1fr;
}

.grid__3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid__4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (ax-width: 1200px) {
  .grid__4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1050px) {
  .grid__3,
  .grid__4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .grid__3,
  .grid__2,
  .grid__4 {
    grid-template-columns: 1fr;
  }
}
