.hero {
  min-height: 90vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url("../../assets/bonaberi_campus.webp"), no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 4vw;
  padding-bottom: 5rem;
}

.hero {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-end;
}

.hero h3 {
  font-size: 2rem;
  color: #fff;
}

.list {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 2rem 4vw;
}

.hero h1 {
  font-size: 7rem;
  color: #fff;
  font-weight: 700;
}

.heading {
  font-size: 7rem;
  color: var(--main-color);
  font-weight: 700;
}

.campusNameContainer {
  background-color: #ffffff3a;
  width: fit-content;
  padding: 1rem;
  border-radius: 2px;
}


.detailsTag {
  font-size: 3.5rem;
  text-align: justify;
  margin-bottom: 2rem;
  font-weight: 300;
}
.detailsBody {
  font-size: 2rem;
  text-align: justify;
  margin-bottom: 2rem;
  line-height: 36px;
  font-weight: 200;
}

.hero p {
  font-size: 2rem;
  width: 800px;
  color: #fff;
}

.details_heading {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.details_sub_heading {
  font-size: 3rem;
  font-weight: 500;
  padding: 5rem 4vw 2rem 4vw;
}

.campuses {
  padding: 3rem 4vw;
}

@media screen and (max-width: 1012px) {
  .hero {
    padding-top: 70rem;
  }
}

@media screen and (max-width: 850px) {
  .hero p {
    width: 100%;
  }
}
