.main {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  border-bottom: #ffffff00;
  border-bottom-width: 2px;
  margin-top: 150px;
  padding: 2rem 4vw;
}

.sub {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-bottom: #ffffff00;
  border-bottom-width: 2px;
  padding: 20px 4vw;
}

.heading {
  display: flex;
  width: fit-content;
  background-color: #001725;
  padding: 2px 16px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
}

.tag {
  color: var(--main-color);
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2;
}

.tag:hover {
  color: #902d28;
}

.sub_head {
  color: #001725;
  font-size: 4rem;
  font-weight: 500;
}

.body {
  color: #686867;
  font-size: 2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 300px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  z-index: 10;
  position: relative;
  margin-top: 64px;
}

.location {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.back {
  display: flex;
  width: fit-content;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
}

.back:hover {
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation-name: bounce;
}

.divider {
  height: 20vh;
  background-color: #001725;
  position: relative;
  width: 100vw;
  margin-top: -64px;
  z-index: -99;
}

@media screen and (max-width: 1000px) {
  .tag {
    font-size: 5rem;
  }
}

@media screen and (max-width: 900px) {
  .tag {
    font-size: 4rem;
  }

  .sub_head {
    font-size: 3rem;
  }

  .body {
    font-size: 1.8rem;
  }

  .container {
    flex-direction: column;
    -ms-flex-direction: column;
  }
}

@media screen and (max-width: 760px) {
  .sub_head {
    font-size: 2.4rem;
  }
}
