.navbar {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 150px;
  z-index: 9999;
  width: 100%;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  box-shadow: none;
}

.search__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 32px;
  background: rgba(0, 0, 0, 0.95);
  z-index: 9999;
}

.search__overlay .close {
  position: absolute;
  right: 16px;
  top: 16px;
}

.search__overlay .close,
.search__overlay .launch__search {
  font-size: 2rem;
  color: #fff;
  padding: 8px 16px;
  background: red;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.search__overlay .launch__search {
  font-size: 1.6rem;
  padding: 12px 24px;
}

.search__overlay h2 {
  font-size: 2.2rem;
  color: #fff;
  margin: 10px 0;
}

.search__overlay input {
  width: 100%;
  padding: 10px 16px;
  height: 54px;
  font-size: 1.6rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.search__overlay__input {
  width: 100%;
  margin-bottom: 10px;
}

.navbar.bg {
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 110px;
}

.navbar .logo img {
  width: 300px;
}

.menu,
.mobile {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  gap: 2rem;
}

.menu,
.mobile {
  list-style-type: none;
}

.menu li a,
.mobile li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 1);
  position: relative;
  white-space: nowrap;
}

.menu li a::before,
.mobile li a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  bottom: -3px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  background: var(--main-color);
  transform-origin: left;
  -webkit-transform-origin: left;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.menu li a:hover::before,
.menu li a:focus-within::before,
.mobile li a:hover::before,
.mobile li a:focus-within::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

.menu li a.non__before::before {
  display: none;
}

.menu li div,
.mobile li div {
  height: 25px;
  width: 2px;
  background: rgba(0, 0, 0, 0.8);
}

.menu .close {
  display: none;
}

.mobile {
  display: none;
}

.menu li {
  position: relative;
}

.menu li .dropdown {
  position: absolute;
  left: 0;
  width: fit-content;
  background: #fff;
  list-style-type: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  z-index: 1;
}

.menu li:hover > .dropdown,
.menu li:focus-within > .dropdown {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}

.menu li .dropdown li a {
  white-space: nowrap;
  display: flex;
  display: -ms-flexbox;
  padding: 2rem;
  font-size: 1.6rem;
}

.menu li .dropdown li a span {
  margin-left: 1.5rem;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  flex: 1;
  -ms-flex: 1;
}

.menu li .dropdown li a:hover > span {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

.menu li .dropdown li:not(:last-of-type) a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu li .dropdown li a::before {
  display: none;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1275px) {
  .navbar .logo img {
    width: 270px;
  }
}

@media screen and (max-width: 1030px) {
  .dropdown {
    display: none;
  }

  .mobile {
    display: flex;
    display: -ms-flexbox;
  }

  .desktop {
    display: none;
  }

  .navbar .logo img {
    width: 80px;
  }

  .menu {
    position: absolute;
    left: -300vw;
    z-index: 9999;
    top: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #e2413c;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    padding: 2rem 4vw;
    flex-direction: column;
    -ms-flex-direction: column;
    overflow-y: auto;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }

  .mobile {
    display: flex;
    display: -ms-flexbox;
  }

  .mobile li a {
    font-size: 2.2rem;
  }

  .menu.show {
    left: 0;
  }

  .menu .close {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 4vw;
  }

  .menu .close button {
    background: transparent;
    font-size: 6rem;
    border: none;
    outline: none;
    color: #fff;
  }

  .menu li a {
    color: #fff;
    font-size: 3rem;
  }

  .menu li div,
  .menu .non {
    display: none;
  }
}
