.content {
  display: flex;
  display: -ms-flexbox;
  gap: 2rem;
  position: relative;
  align-items: center;
  justify-content: center;
}

.con {
  padding: 5rem 4vw;
  min-height: 90vh;
  margin-bottom: 4rem;
  position: relative;
}

.con::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.content.reverse {
  flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}

.content>div {
  flex: 1;
  -ms-flex: 1;
}

.content .caption {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.content h2 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
}

.content .subcaption {
  font-size: 1.5rem;
}

.content p {
  font-size: 1.7rem;
  line-height: 1.5;
  margin: 3rem 0;
}

.content button {
  padding: 1.5rem 3rem;
  background: var(--main-color);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 1.5rem;
}

.con .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.two {
  height: fit-content !important;
}

.con>div:nth-child(1) {
  isolation: isolate;
  z-index: 99;
}

@media screen and (max-width: 1000px) {

  .content,
  .content.reverse {
    flex-direction: column;
    -ms-flex-direction: column;
  }
}