.footer {
  background: #f5f4f3;
}

.footer .components {
  padding: 3rem 4vw;
  display: flex;
  display: -ms-flexbox;
  gap: 2rem;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.component h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.links {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
}

.links a {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.links a:hover,
.links a:focus-within {
  color: rgba(0, 0, 0, 1);
}

.mail {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.mail h4 {
    font-size: 1.6rem;
}

.mark {
    min-height: 30vh;
    background: var(--main-color);
    padding: 2rem 4vw;
}

.logo__section {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.mark img {
    width: 350px;
}

.social,
.refs {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    gap: 2rem;
}

.social a {
    color: #fff;
    font-size: 3rem;
}

.refs {
    margin-top: 4rem;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.refs a,
.refs h4 {
    color: #fff;
    font-size: 1.3rem;
}
