.programs {
  display: flex;
  display: -ms-flexbox;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background: #fff;
  padding: 1.5rem 2rem;
  border-bottom-right-radius: 35px;
  margin-top: 2rem;
}

.programs a {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

.programs > a > div {
  flex: 1;
  -ms-flex: 1;
  padding: 1rem;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.programs .icon__window {
  position: absolute;
  right: 2rem;
  top: 1rem;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.programs > a > div:hover .icon__window {
  right: 1.6rem;
  top: 0.6rem;
}

.programs > a > div > div {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  z-index: 0;
}

.programs > a > div:not(:last-of-type) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.programs > a > div > div h2 {
  color: #e2413c;
  font-size: 3rem;
  font-weight: 700;
}

.programs > a > div > div h3 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.8rem;
}

.programs > a > div .icon {
  display: none;
}

.programCard {
  width: 100%;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.programCard ul {
  list-style-type: none;
}

.seeMore {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.button {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  transition: 0.5s ease-in-out;
  text-decoration: underline;
}

.button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.programCard h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--main-color);
}

.programCard ul li {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  display: flex;
  display: -ms-flexbox;
  gap: 2rem;
  align-items: center;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.programCard ul li:hover {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  cursor: pointer;
  font-size: 2rem;
}

.anchor {
  display: flex;
  text-decoration: none;
  color: inherit;
  gap: 2rem;
}

@media screen and (max-width: 1075px) {
  .programs > a > div > div h2 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 1012px) {
  .programs > a > div > div h2 {
    font-size: 2.5rem;
  }

  .programs {
    flex-direction: column;
    -ms-flex-direction: column;
  }

  .programs > a > div {
    align-items: flex-start;
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    flex: 1;
    -ms-flex: 1;
    justify-content: space-between;
    position: relative;
  }

  .programs .icon__window {
    display: none;
  }

  .programs > a > div .icon {
    display: flex;
    display: -ms-flexbox;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%) translateX(0);
    -webkit-transform: translateY(-50%) translateX(0);
    -moz-transform: translateY(-50%) translateX(0);
    -ms-transform: translateY(-50%) translateX(0);
    -o-transform: translateY(-50%) translateX(0);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
  }

  .programs > a > div:hover .icon {
    transform: translateY(-50%) translateX(5px);
    -webkit-transform: translateY(-50%) translateX(5px);
    -moz-transform: translateY(-50%) translateX(5px);
    -ms-transform: translateY(-50%) translateX(5px);
    -o-transform: translateY(-50%) translateX(5px);
  }

  .programs > a > div:not(:last-of-type) {
    border-right: 1px solid transparent;
  }
}
